openapi: 3.0.3
info:
  title: OpenAPI servizi ad uso solo interno
  description: >-
    API accessibili solo da microservizi interni
  version: v1.0
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: http://internal-pn-in-appli-em20o634urpg-965454854.eu-central-1.elb.amazonaws.com:8080
    description: Generated server url
tags:
  - name: internal-only
    description: Tag for internal API
  - name: privacy-notice
    description: Tag for Privacy Notices operations
paths:
  '/ext-registry-private/pa/v1/groups-all':
    get:
      operationId: getAllGroupsPrivate
      summary: Retrieve all groups of the current PA defined in Self Care
      description: >
        PA can use groups to better organize work in its organization.
        Return all the groups of the current PA
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - name: statusFilter
          description: Se valorizzato indica di tornare solo i gruppi nello stato passato
          in: query
          required: false
          schema:
            type: PaGroupStatus
            $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PaGroupStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PaGroupList'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pg/v1/groups-all':
    get:
      operationId: getAllPgGroupsPrivate
      summary: Retrieve all groups of the current PG defined in Self Care
      description: >
        PG can use groups to better organize work in its organization.
        Return all the groups of the current PG
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - name: statusFilter
          description: Se valorizzato indica di tornare solo i gruppi nello stato passato
          in: query
          required: false
          schema:
            $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PgGroupStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PgGroupList'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /ext-registry-private/privacynotice/{consentsType}/{portalType}:
    get:
      operationId: findPrivacyNoticeVersion
      summary: Retrieve the version of a Privacy Notice
      description: >
        Retrieve the version of a privacy notice, invoking one trust
      tags:
        - privacy-notice
      parameters:
        - name: consentsType
          schema:
            type: string
          description: 'The type of consents. It can take the following values: TOS, DATAPRIVACY'
          in: path
          required: true
          example: 'TOS'
        - name: portalType
          schema:
            type: string
          description: 'The type of portal. It can take the following values: PA, PG, PF, Login, Landing'
          in: path
          required: true
          example: 'PF'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyNoticeVersionResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    PrivacyNoticeVersionResponse:
      description: The response that contains the version of a privacy notice for a particular privacy notice id
      type: object
      required:
        - version
      properties:
        version:
          type: integer
          format: int32
          description: The version of the privacy notice retrieved from one trust


