openapi: 3.0.3
info:
  title: OpenAPI servizi ad uso solo interno
  description: >-
    API accessibili solo da microservizi interni
  version: v1.0
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: http://internal-pn-in-appli-em20o634urpg-965454854.eu-central-1.elb.amazonaws.com:8080
    description: Generated server url
tags:
  - name: internal-only
    description: Tag for internal API
  - name: privacy-notice
    description: Tag for Privacy Notices operations
  - name: additional-lang
    description: Tag for pa additional languages operation
paths:
  '/ext-registry-private/pa/v1/groups-all':
    get:
      operationId: getAllGroupsPrivate
      summary: Retrieve all groups of the current PA defined in Self Care
      description: >
        PA can use groups to better organize work in its organization.
        Return all the groups of the current PA
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - name: statusFilter
          description: Se valorizzato indica di tornare solo i gruppi nello stato passato
          in: query
          required: false
          schema:
            type: PaGroupStatus
            $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PaGroupStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PaGroupList'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pg/v1/groups-all':
    get:
      operationId: getAllPgGroupsPrivate
      summary: Retrieve all groups of the current PG defined in Self Care
      description: >
        PG can use groups to better organize work in its organization.
        Return all the groups of the current PG
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - name: statusFilter
          description: Se valorizzato indica di tornare solo i gruppi nello stato passato
          in: query
          required: false
          schema:
            $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PgGroupStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PgGroupList'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pg/v1/user-groups':
    get:
      operationId: getPgUserGroupsPrivate
      summary: Retrieve selfcare groups related to user
      description: >
        PG can use groups to better organize work in its organization.
        Retrieve selfcare groups related to user
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'
        - name: statusFilter
          description: Se valorizzato indica di tornare solo i gruppi nello stato passato
          in: query
          required: false
          schema:
            $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PgGroupStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'pn-selfcare-internal-v1.yaml#/components/schemas/PgGroupList'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pg/v1/user':
    get:
      operationId: getPgUsersPrivate
      summary: Retrieve user data on selfcare given userId, organization and product
      description: >
        Return user data on selfcare to get user role for SEND
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PgUser'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pg/v1/user-details':
    get:
      operationId: getPgUsersDetailsPrivate
      summary: Retrieve user data on selfcare given userId, organization and product
      description: >
        Return user data on selfcare to get user role for SEND
      tags:
        - internal-only
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PgUserDetail'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /ext-registry-private/privacynotice/{consentsType}/{portalType}:
    get:
      operationId: findPrivacyNoticeVersion
      summary: Retrieve the version of a Privacy Notice
      description: >
        Retrieve the version of a privacy notice, invoking one trust
      tags:
        - privacy-notice
      parameters:
        - name: consentsType
          schema:
            type: string
          description: 'The type of consents. It can take the following values: TOS, DATAPRIVACY'
          in: path
          required: true
          example: 'TOS'
        - name: portalType
          schema:
            type: string
          description: 'The type of portal. It can take the following values: PA, PG, PF, Login, Landing'
          in: path
          required: true
          example: 'PF'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyNoticeVersionResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pa/v1/additional-lang/{paId}':
    get:
      operationId: getAdditionalLang
      description: Retrieve the additional language info chosen by pa
      tags:
        - additional-lang
      parameters:
        - name: paId
          description: An unique ID that identify a Public Administration
          in: path
          required: true
          example: '1234'
          schema:
            $ref: '#/components/schemas/PaId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalLanguages'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/ext-registry-private/pa/v1/additional-lang':
    put:
      operationId: putAdditionalLang
      description: Allows the configuration of a new additional language for pa
      tags:
        - additional-lang
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdditionalLanguages'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalLanguages'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    PgUserDetail:
      title: User detail defined in Self Care PG (Notifiche digitali)
      description: Contains the user data in SelfCare PG (Notifiche digitali)
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        surname:
          type: string
        taxCode:
          type: string
    PgUser:
      title: User defined in Self Care PG (Notifiche digitali)
      description: Contains the user defined in SelfCare PG (Notifiche digitali)
      type: object
      properties:
        id:
          type: string
        institutionDescription:
          type: string
        institutionId:
          type: string
        institutionRootName:
          type: string
        userId:
          type: string
        product:
          $ref: '#/components/schemas/UserProductResourceDto'
    UserProductResourceDto:
      type: object
      properties:
        createdAt:
          type: string
        productId:
          type: string
        productRole:
          type: string
        role:
          type: string
        status:
          type: string
        tokenId:
          type: string
        updatedAt:
          type: string
    PrivacyNoticeVersionResponse:
      description: The response that contains the version of a privacy notice for a particular privacy notice id
      type: object
      required:
        - version
      properties:
        version:
          type: integer
          format: int32
          description: The version of the privacy notice retrieved from one trust
    PaId:
      title: The PA id used by self care
      description: An unique ID that identify a Public Administration
      type: string
      minLength: 1
      maxLength: 50
      pattern: ^[ -~ ]*$
    AdditionalLanguages:
      title: Request Body for getLang
      description: Retrieve the additional language info
      type: object
      properties:
        paId:
          $ref: '#/components/schemas/PaId'
        languages:
          description: Array of an element containing the additional language
          type: array
          items:
            type: string
          example: ['DE']
      required:
        - paId
        - additionalLanguages


